*{
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 244, 247);
}

form{
    max-width:350px;
    box-shadow: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;


}
.content{
    display: flex;
    margin: 150px auto;
    gap: 100px;
    justify-content: center;
    width: 60%;
    align-items: center;
}


.form-input{
    width: 100%;
    padding: 10px;
    margin: 12px auto;
    border: 1px solid lightgray;
    border-radius:5px;
}

.login{
    background-color: #0866ff;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 12px auto;
    border: 0px;
    border-radius:5px;
    font-weight: bold;
    font-size: 14px;
}

.create{
    background-color:rgb(66, 184, 42);
    color: white;
    width: 60%;
    padding: 10px;
    margin: 12px auto;
    border: 0px;
    border-radius:5px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

a{
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    color: #0866ff;
    display: block;
}

p{
    font-size: 25px;
}
h1{
    font-size: 60px;
    color: #0866ff;
}